*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

.clear {
    clear: both;
}

#main {
    
}


/* class chung */

.row {
    margin-right: -8px;
    margin-left: -8px;
}

.row::after {
    content: '';
    display: block;
    clear: both;
}

.mt-8 {
    margin-top: 8px;
}

.col-half {
    width: 50%;
}

.col-full {
    width: 100%;
}

.col {
    float: left;
    padding-right: 8px;
    padding-left: 8px;
}



#header {
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;

}

#nav {
    display: inline-block;;
}

#nav li {
    display: inline-block;

}

#nav > li > a {
    text-transform: uppercase;
    color: #fff;
    display: inline-block;
    line-height: 46px;
}

#nav  li  a {
    text-decoration:none;
    padding: 0 24px;
    position: relative;

}

#nav > li:hover > a {
    color: #000;
    background-color: #ccc;

}

#nav .subnav {
    position: absolute;
    display: none;
    box-shadow: 0 0 10px rgba(0, 0, 0.3);
    background-color: #fff;
}
#nav .subnav li {
    display: block;
}

#nav .subnav a {
    display: block;
    padding: 8px 16px;
    color: #000;
    min-width: 130px;
}

#nav .subnav li:hover {
    background-color: #ccc;
}

#nav li:hover > .subnav {
    display: block;
}

#nav .icon-arrow-down {
    font-size: 14px;
}

#header .btn-menu {
    display: none;
}

#header .search-btn, #header .btn-menu {
    position: absolute;
    top: 0;
    right: 0;
}

#header .btn-menu:hover .icon-menu {
    color: #000;
    background-color: #ccc;
}

#header .search-btn:hover  {
    background-color: #f44336;
}

#header .search-icon, #header .icon-menu {
    color: #fff;
    font-size: 18px;
    line-height: 46px;
    padding: 0 22px;
    cursor: pointer;
}

#slider img {
    margin-top: 46px;
    width: 100%;
    background: center/cover no-repeat;  
    position: relative;

}

#slider .text-slider {
    position: absolute;
    right: 0;
    bottom: 47px;
    left: 0;
    text-align: center;
    color: #fff;
}

#slider .text-slider .text-place {
    font-weight: 500;
    margin-bottom: 25px;
}

#content {

}

#content .text-rection {
    width: 800px;
    max-width: 100%;
    margin: auto;
    padding: 74px 16px 64px;
    text-align: center;
    margin-bottom: 15px;
}

#content .text-rection h2 {
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 4px;
}

#content .text-rection .text-sologan {
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;
}

#content .text-about {
    padding-top: 15px;
}

#content .text-about p {
    line-height: 1.4;
    text-align: justify;
    font-size: 16px;
    font-style: normal;
    opacity: 1;
}

#content .about-member {
    padding: 47px 0 47px;

}

#content .member {
   float: left;
   text-align: center;
    width: 33.33333%;
    
}
#content .member img {
    width: 154px;
    border-radius: 5px;
    margin-top: 15px;
    
}

/* tour css */

.tour-content {
    background: #000;
    color: white;
}

.list-tickets {
    margin-top: 40px;
    background: #fff;
    color: #757575;
    list-style: none;
    
}

.list-tickets li {
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid  #757575;
    text-align: left;
}

.list-tickets .ticket-het {
    background: #f44336;
    color: white;
    margin-left: 16px;
    padding: 2px 8px;
}

.list-tickets .tickets-du {
    background: #000;
    color: white;
    padding: 3px 8px;
    float: right;
    margin-right: 16px;
    border-radius: 50%;
}

.places {
    margin-top: 32px;
    display: flex;
    margin: 32px -8px 0 -8px;
}

.place {
    padding: 0 8px;
} 

.place img {
    width: 100%;
    display: block;
}

.place img:hover {
    opacity: 0.6;
}

.place .place-about {
    background-color: #fff;
    padding: 0 16px;
    text-align: left;

}

.place .place-about h3 {
    font-size: 15px;
    color: #000;
    padding: 15px 0;

}

.place .place-about .date {
    padding-bottom: 15px;
    color: #757575;
    font-size: 15px;
}

.place .place-about .desc {
    padding-bottom: 15px;
    color: #000;
    font-size: 15px;
}

.place .place-about .ticket-btn {
    padding:8px 16px;
    margin-bottom: 16px;
    font-size: 15px;
    background-color: #000;
    color: #fff;
    transition: 0.2s;
    border: 0;
}

.place .place-about .ticket-btn:hover, .contact-form .form-submit:hover {
    background-color: #e0d7d7;
    color: #000;
    cursor: pointer;

}

.place .place-about .ticket-btn:active {
    background-color: #888787;
}


/* contact css */
.contact-body {
    margin-top: 47px;
    margin-bottom: 96px;
}

.contact-info {
    text-align: left;
    font-size: 18px;
    line-height: 1.5;
}

.contact-info i {
    width: 30px;
}

.contact-form .form-control {
    width: 100%;
    padding: 10px;
    font-size: 15px;
    border: 1px solid #ccc;
}

.contact-form .form-submit {
    font-size: 15px;
    float: right;
    margin-top: 16px;
    background-color: #000;
    color: #fff;
    padding: 8px 16px;
    border: none;
}

/* img map */
#map img {
    width: 100%;
}


/* footer css */

#footer {
    padding: 64px 16px;
    text-align: center;
}

#footer .icon-relation i {
    font-size: 24px;
    opacity: 0.8;
    margin-bottom: 15px;
    cursor: pointer;
}

#footer .icon-relation i:hover {
    opacity: 0.4;
}

#footer p {
    font-size: 15px;
    color: rgb(114 110 110);
}

#footer p a {
    color: rgb(114 110 110);
}

/* modal buy tickets */
.modal {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.4);
    display: none;
    align-items: center;
    justify-content: center;
}


.modal .container {
    background: #fff;
    min-height: 200px;
    position: relative;
    animation: modalIn ease 0.4s;
    transition: 0.3s;
}

.modal .modal-header { 
    background-color: #009688;
    width: 900px;
    text-align: center;
    padding: 32px 16px;

}

.modal .modal-header .modal-bag {
    font-size: 30px;
    margin-right: 10px;
    color: #fff;
}

.modal .modal-header .modal-h2 {
    display: inline-block;
    font-weight: 400;
    color: #fff;
} 

.modal .modal-x {
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px 16px;
    color: #fff;
}

.modal .modal-x:hover {
    background: #ccc;
    color: #000;
}

.modal .modal-body {
    padding: 15px;
}

.modal .modal-label {
    display: block;

}

.modal .modal-input {
    width: 100%;
    border: 1px solid #ccc;
    padding: 12px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.modal .modal-button {
    width: 100%;
    background: #009688;
    font-size: 16px;
    color: #fff;
    border: 0;
    padding: 16px;
}

.modal .modal-button:hover, .modal .modal-close:hover {
    background: #ccc;
    color: #000;
    cursor: pointer;
}

.modal .modal-footer {
    display: flex;
    justify-content: space-between;
    padding: 16px 15px;
    font-size: 15px;
}

.modal .modal-close {
    padding: 8px 16px;
    background-color: #f44336;
    border: 1px solid #ccc;
    font-weight: 400;
    color: #fff;
    font-size: 15px;
}

.modal .modal-help a {
    color: #2196F3;
}

.open {
    display: flex;
}

@keyframes modalIn {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
